<html>
<head>
  <title>{% block title %}{% endblock %} - NoName</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <h1>NoName</h1>
        <h2>Siren's Call Coffee</h2>
        <ul id="menu">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="reports.html">Reports</a></li>
            <li><a href="staff.html">Staff</a></li>
        </ul>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>