<html>
<head>
  <title>{% block title %}{% endblock %} - prolight</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <div class="column">
            <h1><img src="logo.png"> Siren's Call Coffee</h1>
            <ul id="menu">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="reports.html">Reports</a></li>
                <li><a href="staff.html">Staff</a></li>
            </ul>
        </div>
    </div>
    <div class="column">

        <div id="content">{% block content %}{% endblock %}</div>
    </div>

</body>
</html>